<%- include('partials/head'); -%>

<main>
  <h1 class="title">Edit Job</h1>
  <a class="link-dashboard" href="/dashboard">Return to Dashboard</a>

  <form action="/editjob/<%= data._id %>" method="POST">
    <div class="createjob">
      <label class="job-title" for="job-title">Job title</label>
      <input
        class="input-job"
        value="<%= data.jobtitle %>"
        type="text"
        id="job-title"
        name="jobtitle"
        placeholder="Job title..."
        required
      />

      <label class="job-company" for="job-company">Job Company</label>
      <input
        class="input-job"
        value="<%= data.jobcompany %>"
        type="text"
        id="job-company"
        name="jobcompany"
        placeholder="Job Company..."
        required
      />

      <label class="website" for="website">Website</label>
      <input
        class="input-website"
        value="<%= data.website %>"
        type="text"
        id="website"
        name="website"
        placeholder="http://MyWebsite.be"
        required
      />

      <h2 class="job-contact">Employer's contact</h2>

      <label class="name-employer" for="nameemployer">Name</label>
      <input
        class="input-nameE"
        value="<%= data.nameemployer %>"
        type="text"
        id="name-employer"
        name="nameemployer"
        placeholder="name"
        required
      />

      <label class="email-contact" for="emailcontact">Email of Contact</label>
      <input
        class="input-email-contact"
        value="<%= data.emailcontact %>"
        type="email"
        id="email-contact"
        name="emailcontact"
        placeholder="email@hotmail.be"
      />

      <label class="phone-number" for="phonenumber">Phone Number</label>
      <input
        class="input-phone"
        value="<%= data.phonenumber %>"
        type="text"
        id="phone-number"
        name="phonenumber"
        placeholder="+32(0)484.32.32.32"
        required
      />

      <label class="address" for="address">Address</label>
      <input
        class="input-address"
        value="<%= data.address %>"
        type="text"
        id="address"
        name="address"
        placeholder="Address"
        required
      />

      <div class="origin-status">
        <div class="origin">
          <label for="origin">Origin</label>
          <ul id="origin">
            <li>
              <input type="radio" id="spontaneous" name="origin" value="Candidature spontanée" required>
              <label for="spontaneous">Candidature spontanée</label>
            </li>
            <li>
              <input type="radio" id="job-offer" name="origin" value="Job offer" required>
              <label for="job-offer">Job offer</label>
            </li>
          </ul>
        </div>

        <div class="status">
          <label for="status">Status</label>
          <ul id="status">
            <li>
              <input type="radio" id="interested" name="status" value="Interested" required>
              <label for="interested">Interested</label>
            </li>
            <li>
              <input type="radio" id="cv-sent" name="status" value="CV sent" required>
              <label for="cv-sent">CV sent</label>
            </li>
            <li>
              <input type="radio" id="negative" name="status" value="Negative" required>
              <label for="negative">Negative</label>
            </li>
            <li>
              <input type="radio" id="interview" name="status" value="Interview" required>
              <label for="interview">Interview</label>
            </li>
          </ul>
        </div>
      </div>

      <label class="comments" for="comments">Comments</label>
      <textarea
        class="input-comments"
        value="<%= data.comments %>"
        id="comments"
        name="comments"
        placeholder="Enter your comment here ..."
      ></textarea>

      <div class="btn-save">
        <button type="submit">Save</button>
      </div>
    </div>
  </form>
</main>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const jobtitle = form.jobtitle.value;
    const jobcompany = form.jobcompany.value;
    const website = form.website.value;
    const nameemployer = form.nameemployer.value;
    const emailcontact = form.emailcontact.value;
    const phonenumber = form.phonenumber.value;
    const address = form.address.value;
    const origin = document.querySelector('input[name="origin"]:checked').value;
    const status = document.querySelector('input[name="status"]:checked').value;
    const comments = form.comments.value;

    try {
      const res = await fetch(`/editjob/<%= data._id %>`, {
        method: "POST",
        body: JSON.stringify({
          jobtitle,
          jobcompany,
          website,
          nameemployer,
          emailcontact,
          phonenumber,
          address,
          origin,
          status,
          comments,
        }),
        headers: { "Content-Type": "application/json" },
      });

      if (res.redirected) {
        window.location.href = res.url;
      } else {
        const data = await res.json();
        if (data.job) {
          location.assign(`/job/${data.job._id}`);
        }
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
