<%- include('partials/head'); -%>

<main>
    <h1 class="title"><%= data.jobtitle %></h1>
    <a class="link-dashboard" href="/dashboard">Return to Dashboard</a>
  
    <div class="info-job">
      <p>Company: <%= data.jobcompany %></p>
      <p>Website: <%= data.website %></p>
      <div class="ligne"></div>
  
      <h2>Contact of the Employer</h2>
      <p>Name: <%= data.nameemployer %></p>
      <p>Email: <%= data.emailcontact %></p>
      <p>Phone: <%= data.phonenumber %></p>
      <p>Address: <%= data.address %></p>
      <div class="ligne"></div>
  
      <h2>Candidature Spontanée</h2>
      <p>Status: <%= data.origin %> <%= data.status %></p>
      <p>Comments: <%= data.comments %></p>
  
      <div class="btn-update">
        <a href="/editjob/<%= data.id %>">Update</a>
      </div>
    </div>
</main>
