<%- include('partials/head'); -%>

<main>
    <h1 class="title">My profile</h1>
    <a class="link-dashboard" href="/dashboard">Return to Dashboard</a>

    <div class="img-info">
        <div class="grid-pdp">
            <img src="<%= user.profilePicture %>" alt="">
        </div>
        <div class="grid-info">
            <p>Full name : <%= user.firstname+' '+user.lastname %> </p>
            <p>Email : <%= user.email %> </p>
            <p>GitHub : <%= user.github %></p>
            <label>Your C.V :</label>
            <div>
                <% if (user.cvDocuments) { %>
                    <a href="/download-cv/<%= user._id %>" class="btn btn-primary">Download C.V</a>
                <% } else { %>
                    <p>No C.V Download</p>
                <% } %>
            </div>

            <div class="reset-password">
                <button id="resetPasswordButton" class="file-button">Update</button>
            </div>
            
              
        </div>
    </div>
</main>

<script>

    const btnPassword = document.getElementById('resetPasswordButton')

    btnPassword.addEventListener('click', (e) => {
        e.preventDefault()

        location.assign('/updateprofile')

    })


</script>
