<%- include('partials/head'); -%>

<main>

    <h1 class="title">Update your Profile</h1>
    <a class="link-dashboard" href="/profile">Return to Profile</a>

    <main>
      
        <form action="/updateprofile" method="POST" enctype="multipart/form-data">

            <div class="updateprofile">
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>">

                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>">

                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="<%= user.email %>">

                <label for="github">GitHub</label>
                <input type="text" name="github" id="github" value="<%= user.github %>">

                <label for="oldpassword">The current Password</label>
                <input type="password" name="oldpassword" id="oldpassword" placeholder="">

                <label for="newpassword">Enter the New Password</label>
                <input type="password" name="newpassword" id="newpassword" placeholder="Enter the new password">

                <div>
                    <label for="newCV">Download a new CV :</label>
                    <input type="file" id="newCV" name="cvDocuments">
                </div>

                
            </div>
      
            <div class="btn-save">
              <button type="submit">Save</button>
            </div>
          </div>
        </form>
      </main>

</main>

<script>
    const form = document.querySelector("form")

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        location.assign('/profile')
    })
</script>