<%- include('partials/head'); -%>

<main>

    <h1 class="title">Update your Profile</h1>
    <a class="link-dashboard" href="/profile">Return to Profile</a>

    <main>
      
        <form action="/updateprofile" method="POST" enctype="multipart/form-data">

            <div class="updateprofile">
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" id="firstname" value="<%= user.firstname %>">

                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" id="lastname" value="<%= user.lastname %>">

                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="<%= user.email %>">

                <label for="github">GitHub</label>
                <input type="text" name="github" id="github" value="<%= user.github %>">

                <label for="oldPassword">The current Password</label>
                <input type="password" name="oldPassword" id="oldPassword" placeholder="">
                
                <label for="newPassword">Enter the New Password</label>
                <input type="password" name="newPassword" id="newPassword" placeholder="Enter the new password">                

                <div>
                    <label for="cvDocuments">Download a new CV :</label>
                    <input type="file" id="newCV" name="cvDocuments">
                </div>

                
            </div>
      
            <div class="btn-save">
              <button type="submit">Save</button>
            </div>
          </div>
        </form>
      </main>

</main>

<!-- <script>
    const form = document.querySelector("form");

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Récupérer les données du formulaire
        const formData = new FormData(form);

        try {
            // Envoyer les données au serveur via fetch
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
            });

            // Vérifier si la réponse est ok
            if (response.ok) {
                // Rediriger vers la page de profil si le mot de passe a été modifié avec succès
                location.assign('/profile');
            } else {
                // Gérer les erreurs, par exemple afficher un message à l'utilisateur
                const errorData = await response.json();
                alert(`Erreur: ${errorData.message}`);
            }
        } catch (error) {
            console.error('Erreur lors de la soumission du formulaire:', error);
            alert('Une erreur est survenue. Veuillez réessayer.');
        }
    });
</script> -->
